body{
    background: #ffffff;
}
h2 , h1{
    font-family: Aharoni;
    text-align: center;
    color: #795548;
    font-size: 2vw;
}
canvas{
    border : 1px solid green ;
    display : block !important; ;
    margin : 30px auto ;
}

#countDown{
    text-align: center;
    font-size: 3vw;
}

#msgToStart{
    text-align: center;
    font-size: 3vw;
}